USE [master]
GO
/****** Object:  Database [GSH_DB]    Script Date: 7/9/2026 11:55:03 PM ******/
CREATE DATABASE [GSH_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GSH_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GSH_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GSH_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\GSH_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GSH_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GSH_DB]
GO
/****** Object:  Table [dbo].[tbContrato]    Script Date: 7/9/2026 11:55:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbContrato](
	[con_id] [int] IDENTITY(1,1) NOT NULL,
	[con_sucursal] [int] NOT NULL,
	[con_prestador] [int] NOT NULL,
	[con_fechaAlta] [date] NOT NULL,
	[con_activo] [bit] NOT NULL,
 CONSTRAINT [PK_Contrato] PRIMARY KEY CLUSTERED 
(
	[con_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPago]    Script Date: 7/9/2026 11:55:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPago](
	[pag_id] [int] IDENTITY(1,1) NOT NULL,
	[pag_codigo] [varchar](10) NOT NULL,
	[pag_contrato] [int] NOT NULL,
	[pag_fechaVencimiento] [date] NOT NULL,
	[pag_importe] [decimal](18, 2) NOT NULL,
	[pag_estado] [varchar](20) NOT NULL,
	[pag_fechaPago] [date] NULL,
	[pag_tipoPago] [int] NOT NULL,
	[pag_recargo] [decimal](18, 2) NOT NULL,
	[pag_totalAbonado] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Pago] PRIMARY KEY CLUSTERED 
(
	[pag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbPrestador]    Script Date: 7/9/2026 11:55:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbPrestador](
	[pre_id] [int] IDENTITY(1,1) NOT NULL,
	[pre_codigo] [varchar](10) NOT NULL,
	[pre_nombre] [varchar](60) NOT NULL,
	[pre_telefono] [varchar](20) NOT NULL,
	[pre_activo] [bit] NOT NULL,
 CONSTRAINT [PK_Prestador] PRIMARY KEY CLUSTERED 
(
	[pre_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbSucursal]    Script Date: 7/9/2026 11:55:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbSucursal](
	[suc_id] [int] IDENTITY(1,1) NOT NULL,
	[suc_codigo] [varchar](10) NOT NULL,
	[suc_nombre] [varchar](60) NOT NULL,
	[suc_telefono] [varchar](20) NOT NULL,
	[suc_direccion] [varchar](60) NOT NULL,
	[suc_activo] [bit] NOT NULL,
 CONSTRAINT [PK_Sucursal] PRIMARY KEY CLUSTERED 
(
	[suc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbTipoPago]    Script Date: 7/9/2026 11:55:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbTipoPago](
	[tpag_id] [int] IDENTITY(1,1) NOT NULL,
	[tpag_desc] [varchar](20) NOT NULL,
	[tpag_recargo] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_TipoPago] PRIMARY KEY CLUSTERED 
(
	[tpag_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbContrato] ON 

INSERT [dbo].[tbContrato] ([con_id], [con_sucursal], [con_prestador], [con_fechaAlta], [con_activo]) VALUES (1, 2, 1, CAST(N'2026-07-09' AS Date), 1)
INSERT [dbo].[tbContrato] ([con_id], [con_sucursal], [con_prestador], [con_fechaAlta], [con_activo]) VALUES (2, 2, 2, CAST(N'2026-07-09' AS Date), 1)
INSERT [dbo].[tbContrato] ([con_id], [con_sucursal], [con_prestador], [con_fechaAlta], [con_activo]) VALUES (3, 1, 1, CAST(N'2026-07-09' AS Date), 1)
SET IDENTITY_INSERT [dbo].[tbContrato] OFF
GO
SET IDENTITY_INSERT [dbo].[tbPago] ON 

INSERT [dbo].[tbPago] ([pag_id], [pag_codigo], [pag_contrato], [pag_fechaVencimiento], [pag_importe], [pag_estado], [pag_fechaPago], [pag_tipoPago], [pag_recargo], [pag_totalAbonado]) VALUES (1, N'PAG-000001', 3, CAST(N'2026-07-23' AS Date), CAST(50000.00 AS Decimal(18, 2)), N'Cancelado', CAST(N'2026-07-09' AS Date), 1, CAST(0.00 AS Decimal(18, 2)), CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[tbPago] ([pag_id], [pag_codigo], [pag_contrato], [pag_fechaVencimiento], [pag_importe], [pag_estado], [pag_fechaPago], [pag_tipoPago], [pag_recargo], [pag_totalAbonado]) VALUES (2, N'PAG-000002', 1, CAST(N'2026-07-31' AS Date), CAST(155000.00 AS Decimal(18, 2)), N'No Cancelado', NULL, 2, CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)))
INSERT [dbo].[tbPago] ([pag_id], [pag_codigo], [pag_contrato], [pag_fechaVencimiento], [pag_importe], [pag_estado], [pag_fechaPago], [pag_tipoPago], [pag_recargo], [pag_totalAbonado]) VALUES (3, N'PAG-000003', 2, CAST(N'2026-07-01' AS Date), CAST(45000.00 AS Decimal(18, 2)), N'Cancelado', CAST(N'2026-07-09' AS Date), 1, CAST(900.00 AS Decimal(18, 2)), CAST(45900.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[tbPago] OFF
GO
SET IDENTITY_INSERT [dbo].[tbPrestador] ON 

INSERT [dbo].[tbPrestador] ([pre_id], [pre_codigo], [pre_nombre], [pre_telefono], [pre_activo]) VALUES (1, N'PRE-CAS12', N'Limpieza Alfombras', N'1144552277', 1)
INSERT [dbo].[tbPrestador] ([pre_id], [pre_codigo], [pre_nombre], [pre_telefono], [pre_activo]) VALUES (2, N'PRE-SEG01', N'Seguridad Integral', N'32632632', 1)
INSERT [dbo].[tbPrestador] ([pre_id], [pre_codigo], [pre_nombre], [pre_telefono], [pre_activo]) VALUES (1002, N'PRE-LOG01', N'Traslados y Envíos', N'1166448877', 1)
SET IDENTITY_INSERT [dbo].[tbPrestador] OFF
GO
SET IDENTITY_INSERT [dbo].[tbSucursal] ON 

INSERT [dbo].[tbSucursal] ([suc_id], [suc_codigo], [suc_nombre], [suc_telefono], [suc_direccion], [suc_activo]) VALUES (1, N'SUC-ABC12', N'Hotel Centro', N'1155669988', N'Florida 324', 1)
INSERT [dbo].[tbSucursal] ([suc_id], [suc_codigo], [suc_nombre], [suc_telefono], [suc_direccion], [suc_activo]) VALUES (2, N'SUC-NOR01', N'Hotel Norte', N'1144779966', N'Av Cabildo 3500', 1)
INSERT [dbo].[tbSucursal] ([suc_id], [suc_codigo], [suc_nombre], [suc_telefono], [suc_direccion], [suc_activo]) VALUES (1002, N'SUC-SUR02', N'Hotel Sur', N'1155887722', N'Av Caseros 850', 0)
SET IDENTITY_INSERT [dbo].[tbSucursal] OFF
GO
SET IDENTITY_INSERT [dbo].[tbTipoPago] ON 

INSERT [dbo].[tbTipoPago] ([tpag_id], [tpag_desc], [tpag_recargo]) VALUES (1, N'Transferencia', CAST(0.02 AS Decimal(5, 2)))
INSERT [dbo].[tbTipoPago] ([tpag_id], [tpag_desc], [tpag_recargo]) VALUES (2, N'Cheque', CAST(0.05 AS Decimal(5, 2)))
SET IDENTITY_INSERT [dbo].[tbTipoPago] OFF
GO
/****** Object:  Index [IX_tbContrato_Prestador]    Script Date: 7/9/2026 11:55:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbContrato_Prestador] ON [dbo].[tbContrato]
(
	[con_prestador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tbContrato_Sucursal]    Script Date: 7/9/2026 11:55:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbContrato_Sucursal] ON [dbo].[tbContrato]
(
	[con_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tbPago_Codigo]    Script Date: 7/9/2026 11:55:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbPago_Codigo] ON [dbo].[tbPago]
(
	[pag_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tbPago_Contrato]    Script Date: 7/9/2026 11:55:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbPago_Contrato] ON [dbo].[tbPago]
(
	[pag_contrato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_tbPago_TipoPago]    Script Date: 7/9/2026 11:55:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbPago_TipoPago] ON [dbo].[tbPago]
(
	[pag_tipoPago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tbPrestador_Codigo]    Script Date: 7/9/2026 11:55:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbPrestador_Codigo] ON [dbo].[tbPrestador]
(
	[pre_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_tbSucursal_Codigo]    Script Date: 7/9/2026 11:55:04 PM ******/
CREATE NONCLUSTERED INDEX [IX_tbSucursal_Codigo] ON [dbo].[tbSucursal]
(
	[suc_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbContrato] ADD  DEFAULT (getdate()) FOR [con_fechaAlta]
GO
ALTER TABLE [dbo].[tbContrato] ADD  DEFAULT ((1)) FOR [con_activo]
GO
ALTER TABLE [dbo].[tbPago] ADD  DEFAULT ((0)) FOR [pag_recargo]
GO
ALTER TABLE [dbo].[tbPago] ADD  DEFAULT ((0)) FOR [pag_totalAbonado]
GO
ALTER TABLE [dbo].[tbPrestador] ADD  DEFAULT ((1)) FOR [pre_activo]
GO
ALTER TABLE [dbo].[tbSucursal] ADD  DEFAULT ((1)) FOR [suc_activo]
GO
ALTER TABLE [dbo].[tbContrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Prestador] FOREIGN KEY([con_prestador])
REFERENCES [dbo].[tbPrestador] ([pre_id])
GO
ALTER TABLE [dbo].[tbContrato] CHECK CONSTRAINT [FK_Contrato_Prestador]
GO
ALTER TABLE [dbo].[tbContrato]  WITH CHECK ADD  CONSTRAINT [FK_Contrato_Sucursal] FOREIGN KEY([con_sucursal])
REFERENCES [dbo].[tbSucursal] ([suc_id])
GO
ALTER TABLE [dbo].[tbContrato] CHECK CONSTRAINT [FK_Contrato_Sucursal]
GO
ALTER TABLE [dbo].[tbPago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_Contrato] FOREIGN KEY([pag_contrato])
REFERENCES [dbo].[tbContrato] ([con_id])
GO
ALTER TABLE [dbo].[tbPago] CHECK CONSTRAINT [FK_Pago_Contrato]
GO
ALTER TABLE [dbo].[tbPago]  WITH CHECK ADD  CONSTRAINT [FK_Pago_TipoPago] FOREIGN KEY([pag_tipoPago])
REFERENCES [dbo].[tbTipoPago] ([tpag_id])
GO
ALTER TABLE [dbo].[tbPago] CHECK CONSTRAINT [FK_Pago_TipoPago]
GO
USE [master]
GO
