<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GSH_DB" connectionString="Data Source=JARVIS-A16\SQLEXPRESS;Initial Catalog=GSH_DB;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True;Application Name=&quot;SQL Server Management Studio&quot;;Command Timeout=0" />
    </connectionStrings>
</configuration>